@model WebShopping.Models.Invoice
@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-12">
        <h4>
            <i class="fas fa-globe"></i> AdminLTE, Inc.
            <small class="float-right">Date: @Model.InvoiceDate</small>
        </h4>
    </div>
    <!-- /.col -->
</div>
<!-- info row -->
<div class="row invoice-info">
    <div class="col-sm-4 invoice-col">
        From
        <address>
            <strong>Admin, Inc.</strong><br>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
            Phone: (804) 123-5432<br>
            Email: info@almasaeedstudio.com
        </address>
    </div>
    <!-- /.col -->
    <div class="col-sm-4 invoice-col">
        To
        <address>
            <strong>@Model.User.PharmacyName</strong><br>
             @Model.User.Address.
            Phone: @Model.User.PhoneNumber<br>
            Email: @Model.User.Email
        </address>
    </div>
    <!-- /.col -->
    <div class="col-sm-4 invoice-col">
        <b>Invoice #@Model.InvoiceNumber</b><br>
        <br>
       
       
    </div>
 
</div>

<div class="row">
    <div class="col-12 table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                   
                    <th>Product</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.InvoiceDetails)
                {
                    <tr>
                        <td>@item.Product.EnglishName</td>
                        <td>@item.Quantity</td>
                        <td>@item.Price</td>
                    
                        <td>@item.Total</td>
                    </tr>
                }
               
               
            </tbody>
        </table>
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<div class="row">
    <!-- accepted payments column -->
 
    <!-- /.col -->
    <div class="col-6">
      
        <div class="table-responsive">
            <table class="table">
               
                <tr>
                    <th>Total:</th>
                    <td>@Model.TotalInvoice </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- /.col -->
</div>

<div class="row no-print">
    <div class="col-12">
        <a href="invoice-print.html" rel="noopener" target="_blank" class="btn btn-default" onclick="print()"><i class="fas fa-print"></i> Print</a>
        <button type="button" class="btn btn-success float-right" id="invoice-submit" data-id="@Model.ID">
            <i class="far fa-credit-card"></i>  Approve
        </button>
      
    </div>
</div>

@section Scripts{

    <script>
        
        $("#invoice-submit").on("click", function(){
            $.ajax({
                url: "/Invoices/ApproveInvoice",
                data:JSON.stringify($(this).attr("data-id")),
                method:"POST",
                contentType:"application/json",
                success:function(result){


                    alert("Successfull Approve");
                }
            })
        });
    </script>

}
        